.App {
    text-align: center;
}
body {
    background-color: #282c34 !important;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    min-height: 40vh;
    background-color: #282c34;
    max-width: available;
}

.slide-image {
    margin-top: 30px;
    width: 1000px;
    height: 500px;
}

.slide-title {
    color: white;
}
.login-buttons-container{
    padding-top: 20px;
    background-color: #282c34;
    padding-bottom: 45px;
}

.authorisation-form{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.choose-login-buttons{
    margin-top: 20px;
}

.cards-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

